header {
    background-color:#f36e6e ;
   
}

.lives {
  font-size: 50px;
  background-color: #edf376;
}

.timer {
    font-size: 50px;
  background-color: #79e881;

    

}
.smiley {
  font-size: 50px;
  
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
display: flex;
flex-direction: column;
background-image: url(img/1-t.png) ;
background-attachment: fixed;
background-size: 100%;
background-repeat: no-repeat;
}


.board, table {
    width: 300px;
    height: 300px;
    font-size: 30px;
    border: 15px solid #000000;
    background-color: rgb(109, 66, 35);
    align-self: center;
    
}


.btn, .safe {
    margin-top: 10px;
    
        display: inline;
        padding: 15px 25px;
        font-size: 50px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: #79e881;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
      
      button:hover {background-color: #edf376}
      
      button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);

      }


.new {
    
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(215, 162, 28);
    background-color: #080808;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

.new:hover {background-color: #fffbf3}
      
      .new:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);

      }


.boom {
    display: none;
    background-color: #ffffff;
    color:#000000 ;
    font-family: "Sofia", sans-serif;
    font-size: 50px;
}



.winner {
  display: none;
  background-color: #f36e6e;
  color:#79e881 ;
  font-family: "Sofia", sans-serif;
  font-size: 50px;

}

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  
 
  .safeCell {
    background-color: white;
  }

  .safe {
    align-self: center;
  }

/*
.cell {
  height: 50px;
width: 50px;

}
*/

/*
.timer {
  margin-left: 100%;
}
*/